<section class="project">
  <h2><%= name %></h2>
  <p class="summary"><%= summary %></p>
  <p><%= description %></p>
  <a class="pq pq-button-inline pq-color-z" href="<%= link %>">
    Visit <%= name %>
  </a>
  <p>
    <a href="<%= github_link %>">View source on GitHub</a>
  </p>
</section>